<p>Hello {{username}},</p>

<p>You or someone else has requested that a new password be generated for your account. If you did not make this request, then you can simply ignore this email.</p>

<p>Best,</p>
<p>Harrison</p>
<p>Harrison@pythonprogramming.net</p>