{% block body %} {% if session['logged_in'] %}
<form action="" class="form">
    <label for="post">Reply:</label>
    <textarea name="reply_content" class="form-control" cols="50" rows="4"></textarea>
    <br>
    <button type="button" class="btn btn-outline-primary">Submit</button>
    <br>
    <br>
</form>
{% else %}
<p>You must be <a href="/login/">logged in</a> to post</p>
{% endif %}
<div class="card">
    {%for r in replies %}
    <div class="list-group-item">
        <p>{{replies[r]}}</p>
        <p>{{r}}</p>
    </div>
    {% endfor %} {% endblock %}
</div>