{% macro render_field(field) %}

<dt>{{ field.label }}</dt>

<dd>{{ field(**kwargs)|safe }} {% if field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li> {{ error }} </li>
        {% endfor %}
    </ul>
    {% endif %}

</dd>

{% endmacro %}