{% extends "header.html" %} {% block body %}
<p>Hello!</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab" aria-controls="home" aria-selected="true">Basics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="wdeb-tab" data-toggle="tab" href="#wdeb" role="tab" aria-controls="profile" aria-selected="false">Web dev</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="dan-tab" data-toggle="tab" href="#dan" role="tab" aria-controls="contact" aria-selected="false">Data Analysis</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="basics" role="tabpanel" aria-labelledby="basics-tab">
        <ul>
            <br> {% for t in topic_dict["Basics"] %}
            <li><a href="{{t[1]}}">{{t[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-pane fade" id="wdeb" role="tabpanel" aria-labelledby="wdeb-tab">
        <br> Some stuff
    </div>
    <div class="tab-pane fade" id="dan" role="tabpanel" aria-labelledby="dan-tab">
        <br> More stuff
    </div>
</div>


{% endblock %}