{% extends "header.html" %} {% block body %}

<body>
    <div class="container" align="left">
        <a href="/return-file/" target="blank">
            <button class="btn btn-default">Download</button>
        </a>
    </div>
</body>

{% endblock %}