<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Ana Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/bananalogo.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard/"><i class="fa fa-power-off"></i> Start Learning
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/something/">
                        <i class="fa fa-heart"></i> Support
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if session.logged_in %}
                <li class="nav-item active">
                    <a class="nav-link" href="/logout/">
                        <i class="fa fa-sign-in"></i> Logout
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login/">
                        <i class="fa fa-sign-in"></i> Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register/">
                        <i class="fa fa-user-plus"></i> Sign up
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% endif %}
                <!--<li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdownMenuLink " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink ">
                        <a class="dropdown-item " href="# ">Action</a>
                        <a class="dropdown-item " href="# ">Another action</a>
                        <a class="dropdown-item " href="# ">Something else here</a>
                    </div>
                </li>-->
            </ul>
        </div>

    </nav>

</header>

<body>
    <div class="container" style="min-height: 100%; width: 80%;">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="fa fa-times"></i>
            </button> {{message}}
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
    </div>

    <script src="//code.jquery.com/jquery-1.11.1.min.js "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>

</body>



</html>