{% extends "header.html" %} {% block body %}

<body>
    <div class="container-fluid">
        <br>
        <h4>Please Login:</h4>
        <br>
        <form action="" class="form-inline" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
            <input type="submit" class="btn btn-default" value="Login">
        </form>
        <p>Forgot password? <a href='/send-mail/'>Reset password</a>.</p>
        <p>{{error}}</p>
    </div>
</body>
{% endblock %}