<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Ana Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/bananalogo.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard/"><i class="fa fa-power-off"></i> Start Learning
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/something/">
                        <i class="fa fa-heart"></i> Support
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" role="presentation" data-toggle="modal" data-target="#exampleModal" href="#">
                        <i class="fa fa-sign-in"></i> Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" tyle="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Login</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <form action="" class="form-inline" method="post">
                                        <input type="text" class="form-control" placeholder="Username" name="username" value="">
                                        <input type="password" class="form-control" placeholder="Password" name="password" value="">
                                        <input class="btn btn-primary" type="submit" value="Login">
                                    </form>

                                    <div class="container">
                                        <br>
                                        <p>No account? <a href='/register/'>Register here</a>.</p>
                                        <p>Forgot password? <a href='/send-mail/'>Reset password</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="nav-item active">
                    <a class="nav-link" role="presentation" data-toggle="modal" data-target="#register" href="#">
                        <i class="fa fa-user-plus"></i> Sign up
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Register</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container">

                                    <form method=post action="/register/">
                                        <dl>
                                            <dt><label for="username">Username</label>
                                            <dd><input id="username" name="username" type="text" value="">
                                            </dd>
                                            <dt><label for="email">Email Address</label>
                                            <dd><input id="email" name="email" type="text" value="">
                                            </dd>
                                            <dt><label for="password">New Password</label>
                                            <dd><input id="password" name="password" type="password" value="">
                                            </dd>
                                            <dt><label for="confirm">Repeat Password</label>
                                            <dd><input id="confirm" name="confirm" type="password" value="">
                                            </dd>
                                            <dt><label for="accept_tos">I accept the <a href="/about/tos"
                                                        target="blank">Terms of Service</a> and <a
                                                        href="/about/privacy-policy" target="blank">Privacy
                                                        Notice</a> (updated Jan 22, 2015)</label>
                                            <dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y">
                                            </dd>
                                        </dl>
                                        <p><input class="btn btn-primary" type="submit" value="Login">
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ul>
        </div>

    </nav>

</header>

<body>
    <a href="/dashboard/">
        <video autoplay="autoplay" muted="muted" poster="/static/videos/python-programming-tutorials-main.png"
            style="width:100%; max-height:80%">
            <source src="/static/videos/bananas.mp4" type="video/mp4">
            <!--source src="/static/videos/python-programming-tutorials-main.webm" type="video/webm"-->
        </video>
    </a>

    <script src="//code.jquery.com/jquery-1.11.1.min.js "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='js/bootstrap.min.js' ) }} "></script>

</body>



</html>